/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: unset;
    /*display: block;*/
    cursor: pointer;
    background-color: unset;
    width: fit-content;
}

.btn-fill {
    background-color: var(--vt-c-black);
    color: white;
}

.btn-border {
    border: 1px solid var(--vt-c-black);
    color: var(--vt-c-black);
    background-color: unset;
}

.card {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--vt-c-white-soft);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card .btn {
    margin-right: 10px;
}

input {
    display: block;
}

.form-group {
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: unset;
    border-radius: 5px;
}

.form-control:focus {
    outline: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
    color: var(--vt-c-black);
}

header .btn-profile {
    font-size: large;
}

header .btn-profile img {
    width: 50%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.totask-container {
    padding: 5vh 10vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: var(--vt-c-black);
    gap: 10px;
}

.card {
    position: relative;
}

.card .card-body * {
    margin-bottom: 10px;
}

.card .task-title, .card .task-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu {
    position: absolute;
    top: 6vh;
    right: 2vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.13);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: small;
    display: none;
}

.menu ul, .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task-status {
    padding: 5px 10px;
    border:1px solid var(--vt-c-black-soft);
    /*color: white;*/
    border-radius: 30px;
    width: fit-content;
    font-size: 10px;
}

.task-deadline {
    color: var(--vt-c-black-mute);
    font-size: small;
}

.modal-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.53);
    color: var(--vt-c-white);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-overlay.open {
    display: flex;
}

.modal {
    max-width: 70%;
    min-width: 50%;
    height: fit-content;
    border-radius: 10px;
    padding: 5vh 5vw;
    background-color: var(--vt-c-black-soft);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-close {
    cursor: pointer;
}

.modal-body * {
    margin-bottom: 10px;
}

.modal .task-deadline {
    color: var(--vt-c-white);
}

.modal .task-status {
    padding: 5px 10px;
    border: 1px solid var(--vt-c-white);
    border-radius: 30px;
    width: fit-content;
    font-size: 10px;
}